:root {
  --bg-main: hsl(230, 17%, 14%);
  --bg-inner: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 28%, 20%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(228, 34%, 66%);
  --accent-color: hsl(228, 25%, 27%);
  --bg-toggle: linear-gradient(225deg, hsl(146, 68%, 55%) 0%, hsl(210, 78%, 56%) 98.02%);
  --circle-toggle: hsl(228, 25%, 27%);
  --toggle-focus: linear-gradient(225deg, hsl(146, 68%, 55%) 0%, hsl(210, 78%, 56%) 98.02%);
  --text-focus: hsl(0, 0%, 100%);
}

.light-theme {
  --bg-main: hsl(0, 0%, 100%);
  --bg-inner: hsl(225, 100%, 98%);
  --bg-card: hsl(227, 47%, 96%);
  --text-primary: hsl(230, 17%, 14%);
  --text-secondary: hsl(228, 12%, 44%);
  --accent-color: hsl(229, 19%, 59%);
  --bg-toggle: hsl(230, 22%, 74%);
  --circle-toggle: hsl(227, 47%, 96%);
  --toggle-focus: linear-gradient(225deg, hsl(146, 68%, 55%) 0%, hsl(210, 78%, 56%) 98.02%);
  --text-focus: hsl(229, 19%, 59%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 5.25rem;
  width: 100%;
}

body {
  background-color: var(--bg-main);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h4,
h5,
p {
  line-height: 1.2;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  padding-top: 2.25rem;
  margin-bottom: 4px;
}

h2 {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-primary);
  letter-spacing: -2px;
  line-height: 0.8;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-secondary);
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--text-secondary);
}

p {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-secondary);
}

a {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-secondary);
  cursor: pointer;
  text-decoration: none;
}
a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.25rem;
  padding-top: 1rem;
}
.switch-container label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-secondary);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch-container:hover {
  cursor: pointer;
}

.switch-container:hover label {
  color: var(--text-focus);
}

.switch__btn {
  width: 48px;
  height: 24px;
  background: var(--bg-toggle);
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
}
.switch__btn:hover {
  background: var(--toggle-focus);
  filter: contrast(150%);
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.switch__circle {
  display: block;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  background: var(--bg-card);
  position: absolute;
  top: 3px;
  left: 3px;
}
.switch__circle:hover {
  background: var(--circle-toggle);
}

.switch__btn[aria-pressed=true] .switch__circle {
  left: 27px;
  transition: all 0.25s ease;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-inline: 1.5rem;
}

header {
  background-color: var(--bg-inner);
  border-radius: 0px 0px 20px 20px;
  width: 100%;
}

.heading {
  border-color: var(--accent-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

/*# sourceMappingURL=styles.css.map */
