// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.socialmedia {
  margin-top: -2.5rem;
}

.stats {
  margin-bottom: 1.875rem;

  h4 {
    padding-top: 1.375rem;
    margin-bottom: 1.75rem;
  }
}
