// ___________________________________________________________________
// Main Section Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.socialmedia {
  margin-top: -2.5rem;
  // padding-inline: 1.5rem;

  @media #{$brkpoint-md} {
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(auto-fit, 255px);
    grid-template-rows: auto;
    justify-content: center;
    margin-top: -6.75rem;
    width: 100%;
  }
}

.stats {
  margin-bottom: 1.875rem;

  h4 {
    padding-top: 1.375rem;
    margin-bottom: 1.75rem;

    @media #{$brkpoint-md} {
    grid-column: 1 / -1;
    margin-bottom: 0;
    }
  }

  @media #{$brkpoint-md} {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 255px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
  }

  @media #{$brkpoint-lg} {
    max-width: 69.375rem;
    margin-inline: auto;
  }
}
