// ___________________________________________________________________
// Switch Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

label {
  @include text(1rem, $font-weight--bold);
  color: var(--text-secondary);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  &:hover {
    cursor: pointer;
    color: var(--text-focus);
  }
}

label input[role="switch"] {
  opacity: 0;
}

label input[role="switch"] ~ .state > .toggle-wrap {
  position: relative;
  display: inline-block;
  background: var(--bg-toggle);
  width: 48px;
  height: 24px;
  border-radius: 12px;

  &:hover {
    background: var(--toggle-focus);
    outline: auto 2px Highlight; // for non-webkit browsers
    outline: auto 5px -webkit-focus-ring-color; // for webkit browsers
  }
}

label input[role="switch"] ~ .state > .toggle-wrap > .position {
  position: relative;
  top: 3px;
  left: 3px;
  display: inline-block;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  background: var(--bg-card);

  &:hover {
    background: var(--circle-toggle)
  }
}

label input[role="switch"]:checked ~ .state > .toggle-wrap > .position {
  left: 27px;
}

.hidden {
  display: none;
}
