// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

:root {
  --bg-main: #{$dark-bg-main};
  --bg-inner: #{$dark-bg-inner};
  --bg-card: #{$dark-bg-card};
  --bg-card-hover: #{$dark-accent-color};
  --text-primary: #{$dark-text-primary};
  --text-secondary: #{$dark-text-secondary};
  --text-overview: #{$dark-text-primary};
  --accent-color: #{$dark-accent-color};
  --bg-toggle: #{$dark-toggle};
  --circle-toggle: #{$dark-accent-color};
  --toggle-focus: #{$dark-toggle};
  --text-focus: #{$light-bg-main};
}

.light-theme {
  --bg-main: #{$light-bg-main};
  --bg-inner: #{$light-bg-inner};
  --bg-card: #{$light-bg-card};
  --bg-card-hover: #{$light-bg-card-hover};
  --text-primary: #{$light-text-primary};
  --text-secondary: #{$light-text-secondary};
  --text-overview: #{$light-text-secondary};
  --accent-color: #{$light-accent-color};
  --bg-toggle: #{$light-toggle};
  --circle-toggle: #{$light-bg-card};
  --toggle-focus: #{$dark-toggle};
  --text-focus: #{$light-accent-color};
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1, 
h2,
h3,
h4,
h5,
p,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: pxToRem(84px);
  width: 100%;
}

body {
  background-color: var(--bg-main);
  font-family: $font-family--primary;
  min-height: 100vh;
}

h1,
h2,
h4,
h5,
p {
  line-height: $line-height__default;
}

h1 {
  @include text($text-M, $font-weight--bold);
  color: var(--text-primary);
  padding-top: 2.25rem;
  margin-bottom: 4px;
}

h2 {
  @include text($text-S, $font-weight--bold);
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

h4 {
  @include text($text-M, $font-weight--bold);
  color: var(--text-overview);
}

h5 {
  @include text($text-S, $font-weight--bold);
  color: var(--text-secondary);
}

p {
  @include text($text-XS, $font-weight--bold);
  color: var(--text-secondary);
}

a {
  @include text($text-XS, $font-weight--bold);
  color: var(--text-secondary);
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: auto 2px Highlight; // for non-webkit browsers
    outline: auto 5px -webkit-focus-ring-color; // for webkit browsers
  }
}
